/*main css code*/
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

#controls{
	text-align:center;
}

canvas{
	border:1px solid #ada;
	position:relative;
}

button{
	/*prevents click-and-hold event from selecting text on mobile*/
	-webkit-user-select:none;
}

.command-button{
	font-size: 30px;
	text-align:center;
	width:50px;
	height:50px;
}
.command-button-wide{
	font-size: 30px;
	text-align: center;
	height: 50px;
}
.slider{
	border:2px solid gray;
	padding:5px;
}
.slider-vertical{
	-webkit-appearance: slider-vertical;
}

#title{
	text-align:center;
	font-size:10px;
	text-decoration:underline;
}
#shutdown-container{
        text-align:center;
        padding-top:25px;
}
#video-stream{
       text-align:center;
       padding-top:5px;
}
